*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    margin: 10px 50px;
    position: relative;
    height: 100px;
   
 

}
.logo p{
    color: black;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
.logo span {
    position: relative;
    width: 10px;
    
}
.logo span i{
    position: absolute;
    color: orangered;
    width: 20px;
    margin-left: 30px;
    padding: 1px;
    animation: logoAnimation 3s linear infinite ;
   
}
@keyframes logoAnimation  {
    0%{
        transform: rotate(0deg);
       }
   100%{
    transform: rotate(360deg);
   }
}
.logo span::before,
.logo span::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  left: 0;
  background-color: rgb(35, 39, 124); 
}
.logo span::after{
    content: "";
     position: absolute;
     width: 90px;
     height: 4px;
     left: 0;
     margin-left:50px ;
     background-color: rgb(35, 39, 124); 
     
}
.mudar-cor-logo{
    color: orangered;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif
}